.ccn-p1 {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* text dark */
  margin: 0;
  color: #222222;
}
.ccn-p2 {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  margin: 0;
  /* dark gray text */
  margin: 0.25rem 0;
  color: #4d4d4d;
}
.ccn-p3 {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  margin: 0;
  /* dark gray text */
  display: flex;
  color: #4d4d4d;
  align-items: center;
}
.ccn-b1 {
  font-family: 'Noto Sans KR' !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 175% !important;
  /* identical to box height, or 24px */
  /* margin-bottom: 0.5rem !important; */
  letter-spacing: 0.1px !important;

  /* Primary 1 – #0065F2 */
}
.ccn-b2 {
  font-family: 'Noto Sans KR' !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 175% !important;
  /* identical to box height, or 24px */
  letter-spacing: 0.1px !important;
  color: #ffffff !important;
}

.ccn-b-edit {
  font-family: 'Noto Sans KR' !important;
  font-style: normal !important;
  justify-content: center;
  align-items: center;
  font-size: 16px !important;
  width: 120px;
  height: 40px;
  background: #4c4c4c !important;
  border-radius: 4px;
}
.ccn-b-pass {
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px !important;
  width: 120px;
  height: 40px;
  font-family: 'Noto Sans KR' !important;
  font-style: normal !important;
  background: #1bb650 !important;
  border-radius: 4px;
}
