.payment-title {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */

  color: #000000;
  margin: 0;
}
.payment-span {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height, or 150% */

  /* Neutral/G500 */

  color: #171a1f;
}
.payment-button {
  gap: 10px;
  /* width: 144px; */
  height: 43px;
  border: 0.5px solid #a2a5aa;
  background-color: white;
  border-radius: 5px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 0 1rem;
  /* identical to box height, or 150% */

  /* Neutral/G500 */
  color: #171a1f;
  cursor: pointer;
}
.payment-span2 {
  /* padding: 8px 16px;
  gap: 10px; */

  width: 492px;
  height: 40px;
  display: inline-block;
  /* stroke */
  display: flex;
  /* border: 0.5px solid #a2a5aa; */
  border-radius: 4px;
  justify-content: end;
  align-items: center;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: right;

  /* Black */

  color: #000000;
  padding-right: 1rem;
  margin-right: 1rem;
}
.payment-input {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height, or 150% */

  /* Neutral/G100 */

  color: #818488;
  margin-left: 1rem;
  padding-left: 0.5rem;
}
.payment-span3 {
  padding: 12px 49px;
  background: #0067ff;
  border-radius: 4px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;

  color: #ffffff;
}
.payment-titleDialog {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */

  color: #000000;
}
.payment-inputDialog {
  padding: 12px 16px;
  gap: 10px;
  width: 400px;
  /* stroke */

  border: 1px solid #a2a5aa !important;
  border-radius: 8px;
}
.payment-spanDialog {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height, or 150% */

  /* Neutral/G500 */

  color: #171a1f;
  width: 30%;
}
.payment-button-check-phoneNumber {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 150% */
}
.accuracy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 52px;

  width: 15%;
  height: 40px;

  background: #ffffff;
  /* Neutral/G300 */

  border: 1px solid #252b32;
  border-radius: 4px;
}
.confirm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 52px;

  width: 15%;
  height: 40px;

  background: #f2fff5;
  border: 1px solid #00a811;
  border-radius: 4px;
  color: #00a811;
}
.error {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 52px;

  width: 15%;
  height: 40px;

  background: #ffffff;
  border: 1px solid #fe7182;
  border-radius: 4px;
  color: #fe7182;
}
.payment-button-exchange-points {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  gap: 10px;
  height: 32px;

  /* stroke */

  border: 0.5px solid #a2a5aa;
  border-radius: 4px;
  color: #0078ff;
  position: absolute;
  right: 1rem;
  cursor: pointer;
}
