.dus_p1 {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 112% */

  /* text dark */
  margin: 6px;
  color: #222222;
}
.dus_span1{
  font-weight: bold;
}
a{
  text-decoration: none;
}
